@import url("./styles/reset.css");

.container {
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 30rem) {
    .container {
        padding: 0;
        max-width: 28rem;
        margin: 0 auto;
    }
}

.form-group {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}

.search {
    flex: 1;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding-bottom: 4rem;
}

.current-weather {
    text-align: center;
}

.current-weather {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.current-weather__city {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    /*text-transform: uppercase;*/
}

.current-weather__average-temperature {
    font-size: 3rem;
    line-height: 1;
}

.current-weather__conditions {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.current-weather__conditions > .icon {
    font-size: 3rem;
}

.current-weather__min-max-temperature {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.forecasts {
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forecasts-header {
    border-bottom: 1px solid #e2e8f0;
    padding-bottom: 1rem;
}

.forecasts-header__title {
    font-size: 1rem;
    font-weight: 400;
}

.forecasts-main {
    display: flex;
    flex-direction: column;
    /*gap: 1rem;*/
}

.forecasts-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e2e8f0;
}

.forecasts-item__date {
    flex: 1;

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forecasts-item > .icon {
    /*width: 4rem;*/
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.forecasts-item__temperatures {
    flex: 2;

    display: flex;
    justify-content: flex-end;

    gap: 1rem;
}

.forecasts-item__temperature {
    width: 5rem;
    text-align: left;
}

.error-message {
    text-align: center;
}

.error-message > .icon {
    font-size: 6rem;
}

.error-message__text-message {
    font-size: 1.5rem;
}
